# WAHA WhatsApp HTTP API
WAHA_DASHBOARD_USERNAME=changeme
WAHA_DASHBOARD_PASSWORD=changeme
WAHA_API_KEY=changeme

# PostgreSQL
POSTGRES_DB=jawara
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
